<div class="author-detail">
  <h1>Author: <%= author.name %></h1>
  <p><%= author.lifespan %></p>

  <div class="detail-copy-info">
    <h4>Books</h4>

    <% if (author_books.length > 0) { %>
      <% author_books.forEach(book => { %>
        <hr>
        <p><a href=<%= book.url %>><%= book.title %></a></p>
        <p><%= book.summary %></p>
      <% }) %>
    <% } else { %>
      <p>This author has no books</p>
    <% } %>
  </div>  
</div>