<div class="index">
  <h1><%= title %></h1>
  <p>Welcome to Local Library, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.</p>
  <h3>The library has the following record counts:</h3>
  <ul>
    <li><b>Books:</b> <%= book_count %></li>
    <li><b>Copies:</b> <%= book_instance_count %></li>
    <li><b>Copies Avaialable:</b> <%= book_instance_available_count %></li>
    <li><b>Authors:</b> <%= author_count %></li>
    <li><b>Genres:</b> <%= genre_count %></li>
  </ul>
</div>